@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section>
    <div>
        <h1>FTC Live Scouting App</h1>
        <h2>Team statistics</h2>
        To be implemented
        <br/>
        <h2>Event statistics</h2>
        To be implemented
        <br/>
    </div>
</section>